# Виртуальное окружение
.venv/

# Кэш Python
__pycache__/

# Секреты и локальные переменные окружения
.env

# PyCharm / JetBrains IDE
.idea/

# (опционально) байткод и временные файлы
*.pyc
*.pyo
*.pyd
*.log
.DS_Store
tests/
